<div class='topbar'>
    <div class='container'>
        <div class='row'>
            <div class='col-4 topbar__item topbar-marquee'>
                <marquee
                    class='topbar-marquee__item'
                    behavior=''
                    direction=''
                >FREE SHIP đơn từ 399K</marquee>
            </div>
            <div class='col-8 topbar-item topbar-right'>
                <a href='#' class='topbar-right__item topbar-right__check'>
                    <i class='topbar-right__icon fa-solid fa-truck'></i>
                    Kiểm tra đơn hàng
                </a>
                <a href='#' class='topbar-right__item topbar-right__zocoin'>
                    <i class='topbar-right__icon fa-solid fa-sack-dollar'></i>
                    Zocoin
                </a>
            </div>
        </div>
    </div>
</div>

<div class='search'>
    <div class='container'>
        <div class='row search__row'>

            <div class='col-3 search__item search__logo'>
                <a href='/'>
                    <img
                        src='https://theme.hstatic.net/200000163831/1000713867/14/logo.png?v=119'
                        alt=''
                    />
                </a>
            </div>

            <div class='col-6 search__item search__input'>
                <div class='search__input__group'>
                    <input
                        type='text'
                        class='search__input__item'
                        placeholder='Tìm kiếm sản phẩm'
                    />
                    <a class='search__btn-group'>
                        <i
                            class='search__btn__icon fa-solid fa-magnifying-glass'
                        ></i>
                        <span class='search__btn__label'>Tìm kiếm</span>
                    </a>
                </div>
            </div>

            <div class='col-3 search__item search__hotline'>
                <a href='/login' class='search__hotline__item'>Đăng nhập</a>
                <span class='search__hotline__item'>/</span>
                <a class='search__hotline__item'>Đăng kí</a>
                <a class='search__hotline__item search__hotline__cart'>
                    <i class='fa-solid fa-cart-shopping'></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class='main-nav'>
    <div class='container'>
        <div class='row'>
            <div class='col-12'>
                <ul class='main-nav__list'>
                    <li class='main-nav__item'>
                        <a href='/' class='main-nav__link'>
                            <div>TRANG CHỦ</div>
                        </a>
                    </li>
                    <li class='main-nav__item'>
                        <a href='/new-products' class='main-nav__link'>
                            <div>HÀNG MỚI</div>
                        </a>
                    </li>
                    <li class='main-nav__item'>
                        <a href='/products' class='main-nav__link'>
                            <div>SẢN PHẨM</div>
                            <i
                                class='main-nav__item__icon fa-solid fa-chevron-down'
                            ></i>
                        </a>
                    </li>
                    <li class='main-nav__item'>
                        <a href='/selling' class='main-nav__link'>
                            <div>BÁN CHẠY</div>
                        </a>
                    </li>
                    <li class='main-nav__item'>
                        <a href='/sale' class='main-nav__link'>
                            <div>SALE</div>
                            <i
                                class='main-nav__item__icon fa-solid fa-chevron-down'
                            ></i>
                        </a>
                    </li>
                    <li class='main-nav__item'>
                        <a href='/blog' class='main-nav__link'>
                            <div>BLOG</div>
                        </a>
                    </li>
                    <li class='main-nav__item'>
                        <a href='/contact' class='main-nav__link'>
                            <div>LIÊN HỆ</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>